<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ZYCRM</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepartment</display-name>
    <servlet-name>AddDepartment</servlet-name>
    <servlet-class>com.forward.web.servlet.user.AddDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepartment</servlet-name>
    <url-pattern>/addDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoleServlert</display-name>
    <servlet-name>AddRoleServlert</servlet-name>
    <servlet-class>com.forward.web.servlet.user.AddRoleServlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoleServlert</servlet-name>
    <url-pattern>/addRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserServlet</display-name>
    <servlet-name>SelectUserServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.SelectUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserServlet</servlet-name>
    <url-pattern>/selectUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDepartmentServlet</display-name>
    <servlet-name>SelectDepartmentServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.SelectAllDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDepartmentServlet</servlet-name>
    <url-pattern>/selectAllDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllUserServlet</display-name>
    <servlet-name>SelectAllUserServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.SelectAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllUserServlet</servlet-name>
    <url-pattern>/selectAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllRoleServlet</display-name>
    <servlet-name>SelectAllRoleServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.SelectAllRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllRoleServlet</servlet-name>
    <url-pattern>/selectAllRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectRoDeServlet</display-name>
    <servlet-name>SelectRoDeServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.SelectRoDeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectRoDeServlet</servlet-name>
    <url-pattern>/selectRoDe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditKindInfoServlet</display-name>
    <servlet-name>EditKindInfoServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.EditKindInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditKindInfoServlet</servlet-name>
    <url-pattern>/editKindInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateKindInfoServlet</display-name>
    <servlet-name>UpdateKindInfoServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.UpdateKindInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateKindInfoServlet</servlet-name>
    <url-pattern>/updateKindINfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteKindInfoServlet</display-name>
    <servlet-name>DeleteKindInfoServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.DeleteKindInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteKindInfoServlet</servlet-name>
    <url-pattern>/deleteKindInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/exit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserInfoServlet</display-name>
    <servlet-name>SelectUserInfoServlet</servlet-name>
    <servlet-class>com.forward.web.servlet.user.SelectUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserInfoServlet</servlet-name>
    <url-pattern>/selectUserInfo</url-pattern>
  </servlet-mapping>
</web-app>